@model InfoHouseViewModel
@{
    ViewData["Title"] = "House Info";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<h2 class="text-center">House Name: @Model.Name</h2>
<h2 class="text-center">Address: @Model.Address</h2>
<div class="text-center">
    <h5 class="display-5">@Model.Name storages</h5>
</div>
@if (Model.Storages.Count == 0)
{
    <div class="text-center">
        <h5 class="display-8">There are no storages yet.</h5>
    </div>
}
else
{
    <div class="card-group">
       
        @foreach (var storage in @Model.Storages)
        {
            <div class="card">
                <div class="card-body">
                    <h4><a class="card-title text-dark" asp-controller="Storage" asp-route-id="@storage.Id" asp-action="Info">@storage.Name</a></h4>
                </div>
            </div>
   
        }
    </div>
}

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Storage" asp-route-houseId=@Model.Id asp-action="Add">Add new storage</a>
</div>
<div class="card-footer">
    <a class="btn btn-danger " asp-controller="House" asp-action="Delete">Delete house</a>
    <a class="btn btn-danger" asp-controller="House" asp-route-id="@Model.Id" asp-action="Edit">Edit house</a>
</div>