@model InfoHouseViewModel
@{
    ViewData["Title"] = "House Info";
}
<div class="text-center">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>
<h2 class="text-center">House Name: @Model.Name</h2>
<h2 class="text-center">Address: @Model.Address</h2>
<div class="text-center">
    <h5 class="display-5">@Model.Name storages</h5>
</div>
@if (Model.Storages.Count == 0)
{
    <div class="text-center">
        <h5 class="display-8">There are no storages yet.</h5>
    </div>
}
else
{
    <div class="card-group">
       
        @foreach (var storage in @Model.Storages)
        {
            <div class="card">
                <div class="card-body">
                    <h4><a class="card-title text-dark" asp-controller="Storage" asp-route-id="@storage.Id" asp-action="Info">@storage.Name</a></h4>
                </div>
            </div>
   
        }
    </div>
}
@if (User.IsInRole(RoleConstants.User))
{
    <div class="text-center">
        <a class="list-group-item list-group-item-action list-group-item-info btn" asp-controller="Storage" asp-route-houseId=@Model.Id asp-action="Add">Add new storage</a>
    </div>
    <div class="card-footer">
        <form method="post" asp-controller="House" asp-action="Delete" asp-route-id="@Model.Id">
            <button class="btn btn-danger" type="submit">Delete house</button>
        </form>
        <a class="btn btn-danger" asp-controller="House" asp-route-id="@Model.Id" asp-action="Edit">Edit house</a>
    </div>
}
