@model DetailsClothesViewModel
@{
    ViewBag.Title = $"{Model.Name} details";
}
<div class="text-center">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <a class="btn btn-info" asp-controller="Storage" asp-route-id="@Model.StorageId" asp-action="Info">Back to storage</a>
    <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-action="All">Back to all clothes</a>
    <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="@Model.Category" asp-action="ClothesByCategory">Back to all @Model.Category</a>
</div>
<div>
    <div class="card">
        <div class="card-body">
            <img src="@Model.ImagePath" alt="Avatar" style="width:100%">
            <h4>@Model.Name</h4>
            <p class="card-text">Category: @Model.Category</p>
            <p class="card-text">Size: @Model.Size</p>
            <p class="card-text">Color: @Model.Color</p>
            <p class="card-text">Description: @Model.Description</p>
            <p class="card-text">Member: @Model.MemberName</p>
            <p class="card-text">House: @Model.HouseName</p>
            <a class="card-text" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-action="All">Storage: @Model.StorageName</a>

           <input type="hidden" asp-for="@Model.StorageId" >
        </div>
        @if (User.IsInRole(RoleConstants.User))
        {
            <div class="card-footer">
                <form method="post" asp-controller="Clothes" asp-action="Delete" asp-route-clothingId="@Model.Id">
                    <button class="btn btn-danger" type="submit">Delete @Model.Name</button>
                </form>
                <a class="btn btn-info" asp-controller="Clothes" asp-route-clothingId="@Model.Id" asp-action="Edit">Edit @Model.Name</a>
            </div>
        }
    </div>
</div>
