@model DetailsClothesViewModel
@{
    ViewData["Title"] = $"Edit {Model.Category}";
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="label" asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" id="Name" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="ImgUrl">Image URL</label>
            <input asp-for="ImgUrl" class="form-control" id="Url" placeholder="Image URL">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="Color">Color</label>
            <input asp-for="Color" class="form-control" id="Color" placeholder="Color">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="Size">Size</label>
            <input asp-for="Size" class="form-control" id="ImgUSizerl" placeholder="Size">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="label" asp-for="SizeHeight">Size Height</label>
            <input asp-for="SizeHeight" type="text" class="form-control" id="Size Height">
        </div>
        <input type="hidden" asp-for="@Model.Category" asp-route-clothesCategory="Tshirts">
        <input type="hidden" asp-for="@Model.Id" asp-route-clothesCategory="Tshirts">
        <input type="hidden" asp-for="@Model.StorageId" asp-route-clothesCategory="Tshirts">

        @*    <div class="form-group col-md-6">
        <label class="label" asp-for="Members">Member</label>
        <select asp-for="Members" asp-items="@Model.Members">
        <option selected="selected" value="">Please select</option>
        </div>*@
    </div>
    <div class="form-group col-md-6">
        <label class="label" asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" id="Description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary">Edit clothing</button>
</form>
