@model IEnumerable<AllMembersViewModel>
   
@{
    ViewData["Title"] = "All Members";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Member" asp-action="Add">Add new member</a>
</div>
<div class="card-group">
   
    @foreach (var member in Model)
    {
        <div class="card">
            <div class="card-body">
                <img src="@member.ImgUrl" alt="Avatar" style="width:100%">
                <h4><a class="card-title text-dark" asp-controller="Member" asp-route-id="@member.Id" asp-action="Info">@member.FirstName @member.LastName</a></h4>
            </div>
        </div>
    }
</div>