@model IEnumerable<AllMembersViewModel>
   
@{
    ViewData["Title"] = "All Members";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>
<div class="card-group">
   
    @foreach (var member in Model)
    {
        <div class="card">
            <div class="card-body">
                <img src="@member.ImgUrl" alt="Avatar" style="width:100%">
                <h4><a class="card-title text-dark" asp-controller="Member" asp-route-id="@member.Id" asp-action="Info">@member.FirstName @member.LastName</a></h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-danger " asp-controller="Member" asp-action="Delete">Delete member</a>
                <a class="btn btn-danger" asp-controller="Member" asp-action="Edit">Edit member</a>
            </div>
        </div>
    }
</div>