@model IEnumerable<AllMembersViewModel>
   
@{
    ViewData["Title"] = "All Members";
}
<div class="text-center">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>
<div class="text-center">
    <a class="list-group-item list-group-item-action list-group-item-info btn" asp-controller="Member" asp-action="Add">Add new member</a>
</div>
<div class="container card-img">
   
    @foreach (var member in Model)
    {
        <div class="card-wrapper">
            <p class="card-title text-dark" asp-controller="Member" asp-route-id="@member.Id" asp-action="Info">
                <div class="card-image">
                    <img src="@member.ImgUrl" alt="profile one">
                </div>
                <div class="details">
                        <h2>@member.FirstName @member.LastName</h2>
                        <br>
                </div>
            </p>
            </div>
    }
</div>

