@model HomeMemberViewModel
@{
    ViewBag.Title = "Member Home";
}

<div class="text-center">
    <h1 class="display-4">@Model.FirstName + " " + @Model.LastName</h1>
</div>

@if (Model.Storages.Count() == 0)
{
    <div class="card-header">
        No storages
    </div>
}
else
{
    <div class="card-header">
        My storages
        @foreach (var storage in Model.Storages)
        {
            <div class="card-body">
                <h5 class="card-title">@storage.Name</h5>
                          <h6>
                        <a class="btn btn-primary" asp-controller="Storage" asp-action="Content"
                    asp-route-id="@storage.Id"> @storage.Name</a>
                        </h6>              
            </div>
        }
    </div>


}
