@model InfoMemberViewModel
@{
    ViewData["Title"] = "Member Info";
}

<div class="text-center">
    <h1 class="page-title">@Model.FirstName @Model.LastName</h1>
</div>
<div class="nav-container">
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-action="MemberAllClothes">Clothes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Tshirts" asp-action="MemberClothesByCategory">Tshirts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Longsleeves" asp-action="MemberClothesByCategory">Longsleeves</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Blouses" asp-action="MemberClothesByCategory">Blouses</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Sweatshirts" asp-action="MemberClothesByCategory">Sweatshirts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Cardigans" asp-action="MemberClothesByCategory">Cardigans</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Jeans" asp-action="MemberClothesByCategory">Jeans</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Leggings" asp-action="MemberClothesByCategory">Leggings</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Trousers" asp-action="MemberClothesByCategory">Trousers</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Shorts" asp-action="MemberClothesByCategory">Shorts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Sets" asp-action="MemberClothesByCategory">Sets</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-memberId="@Model.Id" asp-route-category="Dresses" asp-action="MemberClothesByCategory">Dresses</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-action="MemberAllOuterwear">Outerwear</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-route-category="WinterJackets" asp-action="MemberOuterwearByCategory">WinterJackets</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-route-category="RainJackets" asp-action="MemberOuterwearByCategory">RainJackets</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-route-category="Jackets" asp-action="MemberOuterwearByCategory">Jackets</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-route-category="Vests" asp-action="MemberOuterwearByCategory">Vests</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-route-category="Coats" asp-action="MemberOuterwearByCategory">Coats</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-route-category="Snowsuits" asp-action="MemberOuterwearByCategory">Snowsuits</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-route-category="WinterTrousers" asp-action="MemberOuterwearByCategory">WinterTrousers</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-memberId="@Model.Id" asp-route-category="RainTrousers" asp-action="MemberOuterwearByCategory">RainTrousers</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Shoes" asp-route-memberId="@Model.Id" asp-action="MemberAllShoes">Shoes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Shoes" asp-route-memberId="@Model.Id" asp-route-category="Boots" asp-action="MemberShoesByCategory">Boots</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-memberId="@Model.Id" asp-route-category="Trainers" asp-action="MemberShoesByCategory">Trainers</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-memberId="@Model.Id" asp-route-category="Sandals" asp-action="MemberShoesByCategory">Sandals</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-memberId="@Model.Id" asp-route-category="RainBoots" asp-action="MemberShoesByCategory">RainBoots</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Accessories" asp-route-memberId="@Model.Id" asp-action="MemberAllAccessories">Accessories</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Accessories" asp-route-memberId="@Model.Id" asp-route-category="Hats" asp-action="MemberAccessoriesByCategory">Hats</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-memberId="@Model.Id" asp-route-category="Gloves" asp-action="MemberAccessoriesByCategory">Gloves</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-memberId="@Model.Id" asp-route-category="Scarves" asp-action="MemberAccessoriesByCategory">Scarves</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-memberId="@Model.Id" asp-route-category="Hair accessories" asp-action="MemberAccessoriesByCategory">Hair accessories</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-memberId="@Model.Id" asp-route-category="Sunglasses" asp-action="MemberAccessoriesByCategory">Sunglasses</a>
        </div>
    </div>
</div>

<div>
    <div class="card">
        <div class="card-body-profile">
            <img src="@Model.ImagePath" alt="Avatar">
            <h4>@Model.FirstName @Model.LastName</h4>
            <p class="card-text">Birthdate: @Model.Birthdate</p>
            <p class="card-text">Gender: @Model.Gender</p>
            <p class="card-text">Height: @Model.UserHeight</p>
            <p class="card-text">Clothes size: @Model.ClothesSize</p>
            <p class="card-text">Shoes size: @Model.ShoeSizeEu</p>
            <p class="card-text">Foot length in cm: @Model.FootLengthCm</p>

        </div>
        @if (User.IsInRole(RoleConstants.User))
        {
        <div class="card-footer">
            <form method="post" asp-controller="Member" asp-action="Delete" asp-route-id="@Model.Id">
                <button class="btn btn-danger" type="submit">Delete member</button>
            </form>
            <a class="btn btn-success" asp-controller="Member" asp-route-id="@Model.Id" asp-action="Edit">Edit member</a>
        </div>
        }
    </div>
</div>
@*
    <div class="card">
    <ul id="list-container"></ul>
    <p class="card-text" id="houseName"><span></span></p>
</div>
<button class="btn btn-primary" id="apitest">Show Houses ApiTest</button>
    <script>

    document.getElementById("apitest").addEventListener("click", function () {
        fetch('api/house/houses/get')
            .then(res => {
                return res.json();
            })
            .then(data => {
                console.log(data)
                data.forEach(house => {

                    const markup = `<li>${house.name}</li>`;
                    console.log(document.getElementById("list-container"))
                    document.getElementById("list-container").insertAdjacentHTML('beforeend', markup);
                });

            });
    });
</script>*@






