@model InfoStorageViewModel
@{
    ViewData["Title"] = "Add Item";
}

<h2 class="text-center">Choose category</h2>

<div class="nav-container">
    <div class="dropdown">
        <button class="dropbtn">Clothes</button>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Tshirts"  asp-action="Add">Tshirts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Longsleeves" asp-action="Add">Longsleeves</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Blouses" asp-action="Add">Blouses</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Sweatshirts" asp-action="Add">Sweatshirts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Cardigans" asp-action="Add">Cardigans</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Jeans" asp-action="Add">Jeans</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Leggings" asp-action="Add">Leggings</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Trousers" asp-action="Add">Trousers</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Shorts" asp-action="Add">Shorts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Sets" asp-action="Add">Sets</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.Id" asp-route-category="Dresses" asp-action="Add">Dresses</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-action="All">Outerwear</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-route-category="WinterJackets" asp-action="Add">WinterJackets</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-route-category="RainJackets" asp-action="Add">RainJackets</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-route-category="Jackets" asp-action="Add">Jackets</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-route-category="Vests" asp-action="Add">Vests</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-route-category="Coats" asp-action="Add">Coats</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-route-category="Snowsuits" asp-action="Add">Snowsuits</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-route-category="WinterTrousers" asp-action="Add">WinterTrousers</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.Id" asp-route-category="RainTrousers" asp-action="Add">RainTrousers</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Shoes" asp-route-storageId="@Model.Id" asp-action="All">Shoes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Shoes" asp-route-storageId="@Model.Id" asp-route-category="Boots" asp-action="Add">Boots</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-storageId="@Model.Id" asp-route-category="Trainers" asp-action="Add">Trainers</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-storageId="@Model.Id" asp-route-category="Sandals" asp-action="Add">Sandals</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-storageId="@Model.Id" asp-route-category="RainBoots" asp-action="Add">RainBoots</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Accessories" asp-route-storageId="@Model.Id" asp-action="All">Accessories</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.Id" asp-route-category="Hats" asp-action="Add">Hats</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.Id" asp-route-category="Gloves" asp-action="Add">Gloves</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.Id" asp-route-category="Scarves" asp-action="Add">Scarves</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.Id" asp-route-category="Hair accessories" asp-action="Add">Hair accessories</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.Id" asp-route-category="Sunglasses" asp-action="Add">Sunglasses</a>
        </div>
    </div>
</div>
