@using Microsoft.AspNetCore.Identity
@using WardrobeOrganizer.Infrastructure.Data
@inject SignInManager<User> SignInManager
@model HomeUserViewModel

@section css {
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    @if (Model.Family != null)
    {
        <div class="text-center">
            <h3 class="display-3">@Model.Family.Name Family</h3>
        </div>
        @if(Model.Members.Count == 0)
        {
            <div class="text-center">
                <h5 class="display-5">There are no members yet.</h5>
            </div>
        }
        else{
            <div class="card-group">
                @foreach (var member in @Model.Members)
                {
                    <div class="card">
                        <div class="card-body">
                            <h4><a class="card-title text-dark" asp-controller="Member" asp-action="Info">@member.FirstName @member.LastName</a></h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-danger " asp-controller="Member" asp-action="Delete">Delete member</a>
                            <a class="btn btn-danger" asp-controller="Member" asp-action="Edit">Edit member</a>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="text-center">
            <a class="btn btn-primary" asp-controller="Member" asp-action="Add">Add new member</a>
        </div>
        @if (Model.Storages.Count == 0)
        {
            <div class="text-center">
                <h5 class="display-5">There are no storages yet.</h5>
            </div>
        }
        else{
            <div class="card-group">
                @foreach (var storage in @Model.Storages)
                {
                    <div class="card">
                        <div class="card-body">
                            <h4><a class="card-title text-dark" asp-controller="Storage" asp-action="Info">@storage.Name</a></h4>
                            <p class="card-text">Place: @storage.Place</p>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-danger " asp-controller="Storage" asp-action="Delete">Delete storage</a>
                            <a class="btn btn-danger" asp-controller="Stroage" asp-action="Edit">Edit storage</a>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="text-center">
            <a class="btn btn-primary" asp-controller="Storage" asp-action="Add">Add new storage</a>
        </div>

    }
    else
    {
        <div class="text-center">
            <h3 class="display-3">First Step:</h3>
            <a class="btn btn-primary" asp-controller="Family" asp-action="Add">Add Family</a>
        </div>

    }


}
else{
    <div class="text-center test">
        <h1 class="display-4">Wardrobe Organizer</h1>
    </div>
}
