@using Microsoft.AspNetCore.Identity
@using WardrobeOrganizer.Infrastructure.Data
@inject SignInManager<User> SignInManager
@model HomeUserViewModel

@section css {
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{  
    @if (Model.Family != null)
    {
        <div class="text-center">
            <h1 class="page-title">@Model.Family.Name family</h1>
        </div>
        <div class="main-container">
         @*   MEMBERS*@
            <div class="list-group">
                <p class="list-title">
                    Family members
                </p>
                @if (Model.Members.Count == 0)
                {
                    <div class="text-center">
                        <h5 class="display-8">There are no members yet.</h5>
                    </div>
                }
                else
                {
                    <div class="card-group">
                        @{
                            var count = 0;
                        }
                        @foreach (var member in @Model.Members)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <a class="list-group-item list-group-item-action list-group-item-warning" asp-controller="Member" asp-route-id="@member.Id" asp-action="Info">@member.FirstName @member.LastName</a>
                                </div>
                            </div>
                            count++;
                            if (count == 3)
                            {
                                break;
                            };
                        }
                    </div>
                }   
            </div>
            @*   Houses*@
            <div class="list-group">
                <p class="list-title">
                    Family houses
                </p>
                @if (Model.Houses.Count == 0)
                {
                    <div class="text-center">
                        <h5 class="display-8">There are no houses yet.</h5>
                    </div>
                }
                else
                {
                    <div class="card-group">
                        @foreach (var house in @Model.Houses)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <a class="list-group-item list-group-item-action list-group-item-warning" asp-controller="House" asp-route-houseId="@house.Id" asp-action="Info">@house.Name
                                    <p class="list-gruop-item-info">Address: @house.Address</p></a>
                                </div>
                            </div>   
                        }
                    </div>
                }
            </div>

        </div>
        <div class="main-container">
            <div class="text-center">
                <a class="list-group-item list-group-item-action list-group-item-info btn" asp-controller="Member" asp-action="All">All family members</a>
                <a class="list-group-item list-group-item-action list-group-item-info btn" asp-controller="Member" asp-action="Add">Add new member</a>
            </div>
            <div class="text-center">
                <a class="list-group-item list-group-item-action list-group-item-info btn" asp-controller="House" asp-action="All">All family houses</a>
                <a class="list-group-item list-group-item-action list-group-item-info btn" asp-controller="House" asp-action="Add">Add new house</a>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="page-title">First step:</h1>
            <a class="btn btn-primary" asp-controller="Family" asp-action="Add">Add Family</a>
        </div>

    }


}
else{
    <div class="text-center test">
        <h1 class="display-4">Wardrobe Organizer</h1>
        <p class="basic-info">Organise your family closet easer. Build your family profile with all family members and all family houses.
            You can add your items to diferent house storage by snapping pictures of your clothes and accessories.
            Use the app to store your digital wardrobe and enjoy the easiest way of closet organisation.</p>
        <p class="img-container">
            <img src="https://www.homelane.com/blog/wp-content/uploads/2019/05/shutterstock_1699684156-768x512.jpg" alt="Smiley face" style="width:80%;">
        </p>
    </div>
}
