@model AllOuterwearViewModel
@{
    ViewData["Title"] = $"All Outerwear";
}
<div class="text-center">
    <h1 class="page-title">@ViewData["Title"]</h1>
    <h2 class="text-center">House: @Model.HouseName</h2>
    <h2 class="text-center">Storage: @Model.StorageName</h2>
</div>
<div class="nav-container">
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-action="All">Clothes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Tshirts" asp-action="ClothesByCategory">Tshirts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Longsleeves" asp-action="ClothesByCategory">Longsleeves</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Blouses" asp-action="ClothesByCategory">Blouses</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Sweatshirts" asp-action="ClothesByCategory">Sweatshirts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Cardigans" asp-action="ClothesByCategory">Cardigans</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Jeans" asp-action="ClothesByCategory">Jeans</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Leggings" asp-action="ClothesByCategory">Leggings</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Trousers" asp-action="ClothesByCategory">Trousers</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Shorts" asp-action="ClothesByCategory">Shorts</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Sets" asp-action="ClothesByCategory">Sets</a>
            <a class="btn btn-info" asp-controller="Clothes" asp-route-storageId="@Model.StorageId" asp-route-category="Dresses" asp-action="ClothesByCategory">Dresses</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-action="All">Outerwear</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-route-category="WinterJackets" asp-action="OuterwearByCategory">WinterJacket</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-route-category="RainJackets" asp-action="OuterwearByCategory">RainJacket</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-route-category="Jackets" asp-action="OuterwearByCategory">Jacket</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-route-category="Vests" asp-action="OuterwearByCategory">Vest</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-route-category="Coats" asp-action="OuterwearByCategory">Coat</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-route-category="Snowsuits" asp-action="OuterwearByCategory">Snowsuit</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-route-category="WinterTrousers" asp-action="OuterwearByCategory">WinterTrousers</a>
            <a class="btn btn-info" asp-controller="Outerwear" asp-route-storageId="@Model.StorageId" asp-route-category="RainTrousers" asp-action="OuterwearByCategory">RainTrousers</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Shoes" asp-route-storageId="@Model.StorageId" asp-action="All">Shoes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Shoes" asp-route-storageId="@Model.StorageId" asp-route-category="Boots" asp-action="ShoesByCategory">Boots</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-storageId="@Model.StorageId" asp-route-category="Trainers" asp-action="ShoesByCategory">Trainers</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-storageId="@Model.StorageId" asp-route-category="Sandals" asp-action="ShoesByCategory">Sandals</a>
            <a class="btn btn-info" asp-controller="Shoes" asp-route-storageId="@Model.StorageId" asp-route-category="RainBoots" asp-action="ShoesByCategory">RainBoots</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Accessories" asp-route-storageId="@Model.StorageId" asp-action="All">Accessories</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.StorageId" asp-route-category="Hats" asp-action="AccessoriesByCategory">Hats</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.StorageId" asp-route-category="Gloves" asp-action="AccessoriesByCategory">Gloves</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.StorageId" asp-route-category="Scarves" asp-action="AccessoriesByCategory">Scarves</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.StorageId" asp-route-category="HairAccessories" asp-action="AccessoriesByCategory">Hair accessories</a>
            <a class="btn btn-info" asp-controller="Accessories" asp-route-storageId="@Model.StorageId" asp-route-category="Sunglasses" asp-action="AccessoriesByCategory">Sunglasses</a>
        </div>
    </div>
</div>
<div class="text-center">
    <a class="list-group-item list-group-item-action list-group-item-info btn" asp-controller="Storage" asp-route-storageId="@Model.StorageId" asp-action="AddItem">Add new item in the storage</a>
</div>
<div class="card-group">

    @foreach (var item in Model.Outerwear)
    {
        <div class="card">
            <div class="card-body">
                <img src="@item.ImgUrl" alt="Avatar" style="width:50%">
                <h4><a class="card-title text-dark" asp-controller="Outerwear" asp-route-outerwearId="@item.Id" asp-action="Details">@item.Name</a></h4>
                <p class="card-text">Size: @item.Size</p>
            </div>
        </div>
    }
</div>

