@model SearchIndexViewModel

@{
    ViewData["Title"] = $"Hello from Search";
}
<div class="text-center">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>
<div class="list-title">Search by category</div>
<div class="nav-container">
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Search" asp-route-itemType="clothes" asp-action="AllItemsFromType">Clothes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Tshirts" asp-action="ClothesByCategory">Tshirts</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Longsleeves" asp-action="ClothesByCategory">Longsleeves</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Blouses" asp-action="ClothesByCategory">Blouses</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Sweatshirts" asp-action="ClothesByCategory">Sweatshirts</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Cardigans" asp-action="ClothesByCategory">Cardigans</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Jeans" asp-action="ClothesByCategory">Jeans</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Leggings" asp-action="ClothesByCategory">Leggings</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Trousers" asp-action="ClothesByCategory">Trousers</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Shorts" asp-action="ClothesByCategory">Shorts</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Sets" asp-action="ClothesByCategory">Sets</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Dresses" asp-action="ClothesByCategory">Dresses</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Search" asp-route-itemType="outerwear" asp-action="AllItemsFromType">Outerwear</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="SearchSearch" asp-route-storageId="" asp-route-category="WinterJackets" asp-action="OuterwearByCategory">WinterJackets</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="RainJackets" asp-action="OuterwearByCategory">RainJackets</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Jackets" asp-action="OuterwearByCategory">Jackets</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Vests" asp-action="OuterwearByCategory">Vests</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Coats" asp-action="OuterwearByCategory">Coats</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Snowsuits" asp-action="OuterwearByCategory">Snowsuits</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="WinterTrousers" asp-action="OuterwearByCategory">WinterTrousers</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="RainTrousers" asp-action="OuterwearByCategory">RainTrousers</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Search" asp-route-itemType="shoes" asp-action="AllItemsFromType">Shoes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Boots" asp-action="ShoesByCategory">Boots</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Trainers" asp-action="ShoesByCategory">Trainers</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Sandals" asp-action="ShoesByCategory">Sandals</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="RainBoots" asp-action="ShoesByCategory">RainBoots</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Search" asp-route-itemType="accessories" asp-action="AllItemsFromType">Accessories</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Hats" asp-action="AccessoriesByCategory">Hats</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Gloves" asp-action="AccessoriesByCategory">Gloves</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Scarves" asp-action="AccessoriesByCategory">Scarves</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="HairAccessories" asp-action="AccessoriesByCategory">Hair accessories</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-storageId="" asp-route-category="Sunglasses" asp-action="AccessoriesByCategory">Sunglasses</a>
        </div>
    </div>
</div>
<div>
    <div class="list-title">Search by color</div>
    @foreach (var item in Model.Colors)
    {
        <div class="form-check">
            <input id="@item" class="form-check-input" type="checkbox" value="@item" name="Colors" />
            <label class="form-check-label" for="@item">@item</label>
        </div>
    }
</div>

@*<form method="get" asp-action="List" class="serach-container">
<div>
    <div class="list-group-item">Search by category</div>
    @foreach (var item in Model.Categories)
        {
            <div class="form-check">
                <input id="@item" class="form-check-input" type="checkbox" value="@item" name="Categories" />
                <label class="form-check-label" for="@item">@item</label>
            </div>
        }
   
</div>
<div>
        <div class="list-group-item">Color</div>
        @foreach (var item in Model.Colors)
        {
            <div class="form-check">
                <input id="@item" class="form-check-input" type="checkbox" value="@item" name="Colors" />
                <label class="form-check-label" for="@item">@item</label>
            </div>
        }

    </div>
<div>
        <div class="list-group-item">Shoe EU size</div>
        @foreach (var item in Model.ShoeSizesEu)
        {
            <div class="form-check">
                <input id="@item" class="form-check-input" type="checkbox" value="@item" name="ShoeSizesEu" />
                <label class="form-check-label" for="@item">@item</label>
            </div>
        }

    </div>
<div>
    <div class="list-group-item">Ages</div>
    @foreach (var item in Model.SizeByAges)
    {
        <div class="form-check">
                <input id="@item" class="form-check-input" type="checkbox" value="@item" name="SizeByAges" />
                <label class="form-check-label" for="@item">@item</label>
        </div>
    }
</div>
<div>
    <div class="list-group-item">Clothes Size</div>
    @foreach (var item in Model.ClothesSizes)
    {
        <div class="form-check">
                <input id="@item" class="form-check-input" type="checkbox" value="@item" name="ClothesSizes" />
            <label class="form-check-label" for="@item">@item</label>
        </div>
    }
</div>
<button class="btn btn-primary">Search</button>
</form>*@

