@model AllUsersViewModel

@{
    ViewData["Title"] = "All Users";
}

<div class="text-center">
    <h1 class="page-title">This is Administrators home page!</h1>
</div>

<div class="card-group">

    @foreach (var user in Model.Users)
    {
        <div class="card">
            <div class="card-body">
                <h4>
                    <a class="card-title text-dark" asp-area="" asp-route-userId="@user.Id" asp-controller="Family" asp-action="Info">User: @user.Email</a></h4>
                <h4>Fullname: @user.FullName</h4>
                @if (@user.IsActive)
                {
                    <h4>Is Acitve</h4>
                }
                else
                {
                    <h4>Blocked</h4>
                }
            </div>
            <div class="card-footer">
                <a class="btn btn-danger " asp-area="Admin" asp-route-id="@user.Id" asp-controller="Admin" asp-action="InActive">Block user</a>
                <a class="btn btn-success" asp-area="Admin" asp-route-id="@user.Id"  asp-controller="Admin" asp-action="Active">Unblock user</a>
            </div>
        </div>
    }
</div>
